<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="StoreURL" value="https://bigmarketcitypark.com/"/>
		<add key="Name" value="Name"/>
		<add key="Street" value="StreetName"/>
		<add key="Appartment" value="ApptName"/>
		<add key="City" value="CityName"/>
		<add key="PhoneNumber" value="+355 *** *** ***"/>
		<add key="PaymentMethod" value="Cash"/>




	</appSettings>
	
</configuration>