<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="StoreURL" value="https://bigmarketcitypark.com/"/>
		<add key="BarillaFarfalleMakarona" value="4"/>
		<add key="SoleiVajLuledielli" value="1"/>
		<add key="CocaCola" value="5"/>
		<add key="KazaziSallam" value="3"/>
		<add key="Qumesht" value="2"/>
		<add key="BarillaNascondini" value="1"/>
		<add key="BarillaSalce" value="4"/>
		<add key="Bravo" value="2"/>
		<add key="ReasPaktetim" value="1"/>
		<add key="ProshutKrudo" value="1"/>
		<add key="KackavallIGrire" value="3"/>

	</appSettings>
	
</configuration>